@import "../main/main.scss";
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.container {
    width: 95%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    border-radius: 16px;
    border: solid 4px #c3eef4;
    background-color: rgba(195, 238, 244, 0.36);
    margin: 0 auto;
    margin-bottom: 1rem;
    .back {
        margin: 0.5rem 0.5rem;
        a {
            font-family: SegoeUI;
            font-size: 1rem;
            font-weight: 600;
            font-stretch: normal;
            font-style: normal;
            line-height: 2.07;
            letter-spacing: normal;
            text-align: left;
            color: #707070;
        }
    }
    #title {
        margin: 0 auto;
        font-family: OpenSans;
        font-size: 1.5rem;
        font-weight: 600;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.35;
        letter-spacing: normal;
        text-align: left;
        color: #626262;
    }
    .cards {
        display: flex;
        flex-direction: column;
        width: 95%;
        margin: 0.5rem auto;
        .cardChild {
            margin: 1rem 0;
            text-align: left;
            border-radius: 1rem;
            background-color: #73c4d6;
            color: #ffffff;
            text-align: center;
            box-shadow: 0 3px 21px 0 rgba(0, 0, 0, 0.16);
            .medicineWrapper {
                display: flex;
                flex-direction: row;
                justify-content: space-evenly;
                .medicine {
                    width: fit-content;
                    text-align: center;
                    h1 {
                        font-size: 1rem;
                        margin: 0.8rem 0;
                    }
                    ul {
                        list-style: none;
                        font-size: 1rem;
                        li {
                            margin: 1rem 0;
                            font-weight: 600;
                        }
                    }
                    P {
                        width: 95%;
                        font-size: 1rem;
                        margin: 2rem auto;
                    }
                    #recTitle {
                        font-size: 1rem;
                        text-align: center;
                        color: #666;
                        font-weight: 900;
                        margin-left: 0;
                    }
                }
            }
            .sympName {
                width: 100%;
                background-color: #2199be;
                text-align: center;
                border-top-left-radius: 1rem;
                border-top-right-radius: 1rem;
                padding: 0.5rem 0;
                h1 {
                    font-size: 1.5rem;
                }
            }
            .seemore {
                border: none;
                font-size: 1rem;
                background-color: #2199be;
                color: #ffffff;
                padding: 0.5rem 0.8rem;
                margin-bottom: 1rem;
                border-radius: 1rem;
                font-weight: 600;
                outline: none;
                cursor: pointer;
            }
            #addreminder {
                display: block;
                font-size: 1rem;
                color: #ffffff;
                text-decoration: underline;
                margin-bottom: 1rem;
                font-weight: 600;
            }
        }
    }
    .disc {
        width: 98%;
        margin: 1rem auto;
        margin-top: 2rem;
        font-size: 1rem;
    }
}