@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Comfortaa", cursive;
  font-size: 62.5%;
}

.appNav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.appNav .appNavBtn {
  min-width: 6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 8px;
  margin: 0.5rem 0;
}

.appNav .appNavBtn img {
  width: 3rem;
}

.appNav .appNavBtn h1 {
  font-size: 0.8rem;
  font-weight: 700;
  margin: 0 0.5rem;
  color: #ffffff;
}

.appNav .appNavBtn p {
  font-size: 0.5rem;
  text-align: center;
  margin-bottom: 0.5rem;
  color: #514f4f;
}

.appNav .medicine {
  background-color: #80deea;
}

.appNav .reminder {
  background-color: #f8c45b;
}

.appNav .record {
  background-color: #80deea;
}

.active {
  border: solid 4px #80deea !important;
  background-color: #ffffff !important;
}

.active h1 {
  color: #707070 !important;
}

a {
  text-decoration: none;
  outline: none;
}

.container {
  width: 90%;
  margin: 0 auto;
  background-color: #c3eef4;
  border-radius: 0.5rem;
}

.container .back {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 0.4rem;
}

.container .back a {
  font-family: SegoeUI;
  font-size: 0.5rem;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.07;
  letter-spacing: normal;
  text-align: left;
  color: #707070;
}

.container .title {
  width: 95%;
  color: #626262;
  margin: 0 auto;
}

.container .title h1 {
  margin: 0.5rem 0;
}

.container .title p {
  font-size: 1rem;
}

.container .form {
  width: 95%;
  margin: 1rem auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container .form input {
  margin: 0.5rem auto;
  padding: 0.4rem 0.8rem;
  font-size: 1rem;
  background-color: #EDFAFB;
  color: #626262;
  width: 95%;
  border: none;
  border-radius: 1rem;
  outline: none;
}

.container .form textarea {
  font-family: inherit;
  font-weight: 600;
  margin: 0.5rem auto;
  padding: 0.4rem 0.8rem;
  font-size: 1rem;
  background-color: #EDFAFB;
  color: #626262;
  width: 95%;
  height: 5rem;
  border: none;
  border-radius: 1rem;
  outline: none;
}

.container .form .subForm {
  width: 95%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container .form .subForm input {
  width: 45%;
}

.container .form #sex {
  width: 42%;
}

.container .form button {
  width: 40%;
  margin: 1rem auto;
  border: none;
  padding: 0.4rem 0.8rem;
  background-color: #fabc41;
  color: #fff;
  border-radius: 1rem;
  font-size: 1rem;
  cursor: pointer;
  outline: none;
}
/*# sourceMappingURL=record.css.map */