<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Medonyst</title>
    <link rel="stylesheet" href="/css/navbar/navbar.css">
    <link rel="stylesheet" href="/css/about/about.css">
</head>

<body>

    <!-- Sidepanel -->
    <div id="mySidepanel" class="sidepanel">
        <div class="blue">
            <h1>Menu</h1>
        </div>
        <a href="/">Home</a>
        <a href="/recommendation">Medicines</a>
        <a href="/reminder">Reminders</a>
        <a href="/record">Records</a>
        <a href="/about">About Us</a>
    </div>

    <!-- Navbar -->
    <nav class="navbar">
        <button class="openbtn" onclick="openNav()">
            <input id="ham" type="checkbox" />
            <span></span>
            <span></span>
            <span></span>
        </button>
        <a href="/" id="logo">
            <h1>MEDONYST</h1>
        </a>
        <a class="navLink" href="#">
            <img src="/images/bell.svg" alt="">
        </a>
        <a class="navLink" href="#">
            <img src="/images/user.svg" alt="">
        </a>
    </nav>

    <div class="aboutContainer">
        <div class="back">
            <a href="/">BACK</a>
        </div>
        <div class="aboutTitle">
            <h1>Meet the team!</h1>
        </div>
        <div class="aboutWrapper">
            <div class="card">
                <div class="cardImg">
                    <img src="/images/amal.png" alt="">
                </div>
                <div class="cardText">
                    <h1>Amal Jogy</h1>
                    <h1>Machine Learning Engineer</h1>
                </div>
                <div class="social">
                    <a href="https://in.linkedin.com/in/amal-jogy-3b650b18b" target="_blank">
                        <img src="/images/linkedin.png" alt="">
                    </a>

                </div>
            </div>
            <div class="card">
                <div class="cardImg">
                    <img src="/images/raj.png" alt="">
                </div>
                <div class="cardText">
                    <h1>Rajendra Sarpal</h1>
                    <h1>Machine Learning Engineer</h1>
                </div>
                <div class="social">
                    <a href="https://in.linkedin.com/in/rajendra-sarpal-rs465" target="_blank">
                        <img src="/images/linkedin.png" alt="">
                    </a>

                </div>
            </div>
        </div>
        <div class="aboutWrapper">
            <div class="card">
                <div class="cardImg">
                    <img src="/images/anisha.png" alt="">
                </div>
                <div class="cardText">
                    <h1>Anisha Mohanty
                    </h1>
                    <h1>
                        UI/UX Designer
                    </h1>
                </div>
                <div class="social">
                    <a href="https://in.linkedin.com/in/amal-jogy-3b650b18b" target="_blank">
                        <img src="/images/linkedin.png" alt="">
                    </a>

                </div>
            </div>
            <div class="card">
                <div class="cardImg">
                    <img src="/images/ayush.png" alt="">
                </div>
                <div class="cardText">
                    <h1>Ayush Kharkia</h1>
                    <h1>Backend Developer</h1>
                </div>
                <div class="social">
                    <a href="https://www.linkedin.com/in/ayushkharkia/" target="_blank">
                        <img src="/images/linkedin.png" alt="">
                    </a>

                </div>
            </div>
        </div>
        <div class="aboutWrapper">
            <div class="card">
                <div class="cardImg">
                    <img src="/images/atimabh.png" alt="">
                </div>
                <div class="cardText">
                    <h1>Atimabh Barunaha</h1>
                    <h1>Frontend Developer</h1>
                </div>
                <div class="social">
                    <a href="https://www.linkedin.com/in/barunaha/" target="_blank">
                        <img src="/images/linkedin.png" alt="">
                    </a>

                </div>
            </div>
        </div>
    </div>




    <script src="/js/navbar.js"></script>
</body>

</html>