<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Medonyst</title>
    <link rel="stylesheet" href="/css/navbar/navbar.css">
    <link rel="stylesheet" href="/css/index/index.css">
    <link rel="stylesheet" href="/css/login/login.css">
</head>

<body>

    <!-- Sidepanel -->
    <div id="mySidepanel" class="sidepanel">
        <div class="blue">
            <h1>Menu</h1>
        </div>
        <a href="/">Home</a>
        <a href="/recommendation">Medicines</a>
        <a href="/reminder">Reminders</a>
        <a href="/record">Records</a>
        <!-- <a href="/doctor">Doctors</a> -->
        <a href="/about">About Us</a>
    </div>

    <!-- Navbar -->
    <nav class="navbar">
        <button class="openbtn" onclick="openNav()">
            <input id="ham" type="checkbox" />
            <span></span>
            <span></span>
            <span></span>
        </button>
        <a href="/" id="logo">
            <h1>MEDONYST</h1>
        </a>
        <a class="navLink" href="#">
            <img src="/images/bell.svg" alt="">
        </a>
        <a class="navLink" href="#">
            <img src="/images/user.svg" alt="">
        </a>
    </nav>

    <div class="loginContainer">
        <% if(errorMessage.length >0) {%>
            <h1 style="color: red; text-align: center;">
                <%= errorMessage %>
            </h1>
            <% } %>
                <h1 id="loginTitle">Log In</h1>
                <div class="login">
                    <form action="/login" method="POST">
                        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                        <input type="email" placeholder="Email" name="email" required>
                        <input type="password" placeholder="Password" name="password" required>
                        <button type="submit">Log In</button>
                    </form>
                </div>
                <hr>
                <h1 id="loginTitle">Sign Up</h1>
                <div class="signup">
                    <form action="/register" method="POST">
                        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                        <input type="text" placeholder="Name" name="name" required>
                        <input type="email" placeholder="Email" name="email" required>
                        <input type="password" placeholder="Password" name="password" required>
                        <button type="submit">Sign Up </button>
                    </form>
                </div>
    </div>



    <script src="/js/navbar.js"></script>
</body>

</html>