.doctorContainer {
    width: 95%;
    margin: 1rem auto;
    .back {
        margin-top: 2rem;
        width: fit-content;
        a {
            text-decoration: none;
            color: #626262;
            h1 {
                font-size: 1rem;
                text-decoration: underline;
            }
        }
    }
    .doctorWrapper {
        margin: 3rem 0;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        .doc {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            .docImg {
                img {
                    width: 6rem;
                    height: 6rem;
                    border-radius: 100%;
                    border: 5px solid #33c3d8;
                }
            }
            .docText {
                h1 {
                    font-size: 0.8rem;
                }
            }
        }
    }
    .doctorAbout {
        font-size: 1rem;
        .info {
            font-weight: 600;
        }
        .contact {
            font-weight: 600;
            margin: 2rem 0;
        }
        .number {
            text-align: center;
            color: #2199be;
            font-weight: 600;
            font-size: 1.5rem;
        }
    }
}