.loginContainer {
    width: 95%;
    margin: 2rem auto;
    background-color: #007383;
    border: 5px solid #c3eef4;
    border-radius: 1rem;
    #loginTitle {
        margin: 1rem 1rem;
        margin-top: 3rem;
        color: #ffffff;
        font-size: 600;
    }
    .fullsignup {
        form {
            display: flex;
            flex-direction: column;
            background-color: #c3eef4;
            width: 95%;
            margin: 1rem auto;
            border-radius: 1rem;
            .age {
                display: flex;
                flex-direction: row;
                input {
                    width: 40%;
                }
            }
            .sex {
                display: flex;
                flex-direction: row;
                input {
                    width: 40%;
                }
            }
            h1 {
                margin: 1rem 1rem;
                margin-bottom: 0.8rem;
                color: #626262;
            }
            p {
                font-size: 0.8rem;
                color: #626262;
                margin: 0 1rem;
                margin-bottom: 0.8rem;
            }
            input {
                width: 90%;
                margin: 0.6rem auto;
                padding: 0.6rem 0.5rem;
                border-radius: 1rem;
                border: none;
                font-size: 1rem;
                outline: none;
                padding-left: 1rem;
            }
            button {
                border: none;
                padding: 0.8rem 1.5rem;
                margin: 0.6rem auto;
                width: 8rem;
                border-radius: 1rem;
                box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
                color: #ffffff;
                font-size: 1.2rem;
                font-weight: 600;
                background-color: #fabc41;
                margin-bottom: 2rem;
            }
            textarea {
                font-family: sans-serif;
                width: 90%;
                height: 5rem;
                margin: 0.6rem auto;
                padding: 0.6rem 0.5rem;
                border-radius: 1rem;
                border: none;
                font-size: 1rem;
                outline: none;
                padding-left: 1rem;
                resize: none;
            }
        }
    }
    hr {
        color: #ffffff;
        width: 90%;
        margin: 2rem auto;
    }
}